#main{
    background-color: whitesmoke;
    width: 90%;
    text-align: center;
    border-radius: 20px;
}

p{
    font-size: 22px;
}

@media (max-width: 600px) {
    p {
        font-size: 15px; /* 작은 화면에 대한 폰트 크기 조정 */
    }
}