#qna{
    display: none;
}

.qBox{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    width: 90%;
}

.answerList{
    background-color: white;
    border-radius: 20px;
    display: block;
    width: 90%;
    border: 0px;
    font-size: 15px;
}

@media (max-width: 600px) {
    .qBox {
        font-size: 15px;
    }

    .answerList {
        font-size: 12px;
    }
}

.answerList:hover, .answerList:focus{
    background-color: #1d3d94;
    color: white;
}

.status{
    height: 20px;
    width: 90%;
    background-color: whitesmoke;
    border-radius: 20px;
}

.statusBar{
    height: 100%;
    border-radius: 20px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6db3f2+0,3690f0+51,1e69de+100 */
    background: linear-gradient(to bottom,  #6db3f2 0%,#3690f0 51%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}